<head>
    <title>Make friend!</title>
</head>
    <body>
        <div class="friend">
            <h1>Make a friend here</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/friend">
                <label for="friend id">Select a user from the list: </label>

                <select id="friend" name="friend">
                    {% for user in users %}
                    <option value="{{user}}">{{user[0]}}</option> 
                    {% endfor %}
                </select>
                <br />
                
                <input type="submit" value="Add the Friend!" />
            </form>
    </body>
